@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:wght@100;200&display=swap");
body {
  margin: auto;
  background-color: #142677fa;
  font-family: "Open Sans", sans-serif;
  color: white;
  box-sizing: border-box;
  padding-bottom: 15px;
}
.dropdowndiv {
  width: 530px;
  text-align: left;
  margin: auto;
  margin-bottom: 28px;
}
#kdvcontainer {
  text-align: left;
}
.text {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  width: 300px;
  text-align: start;

}
.sonuc {
  font-family: "Inter", sans-serif;
  font-weight: bolder;
}
#kargocontainer {
  text-align: left;
}
#container {
  width: 700px;
  text-align: center;
  margin: auto;
}
label {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.baslik {
  margin-bottom: 6px;
}
h1 {
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  margin: auto;
  text-align: center;
}
p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
#sonucBox {
  color: black;
  font-style: normal;
  background-color: white;
  width: 520px;
  height: 310px;
  margin: auto;
  border-radius: 8px;
}
.box {
  display: flex;
  margin-left: 16px;
  justify-content: space-between;
  margin-right: 16px;
  font-weight: 500;
  font-size: 16px;
  height: 32px;
}
#sonucBaslik {
  text-align: left;
  margin-left: 16px;
  padding-top: 25px;
  width: 173px;
  height: 23px;
  left: 487px;
  top: 891.16px;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
#pazaryeri {
  width: 520px;
  height: 44px;
  border-radius: 8px;
  font-size: 14px;
  padding-left: 10px;
}
#kategori {
  width: 520px;
  height: 44px;
  border-radius: 8px;
  padding-left: 10px;
}
#kategori option {
  overflow-y: hidden;
  text-overflow: ellipsis;
}
input {
  width: 499px;
  height: 40px;
  font-size: 14px;
  border-radius: 8px;
  padding-left: 14px;
}
#kdvsel {
  width: 239px;
  height: 40px;
  padding-left: 14px;
  border-radius: 8px;
}
#kargoInput {
  width: 240px;
  height: 35px;
  border-radius: 8px;
}
#kargoVkdv {
  display: flex;
  margin: auto;
  justify-content: space-between;
  margin-left: 92px;
  margin-right: 92px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-right: 90px;
  margin-left: 90px;
  margin-top: 39px;
  margin-bottom: 59.59px;
}
#btnTemizle {
  color: white;
  margin-left: 50px;
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: 53px;
  height: 20px;
  text-decoration-line: underline;
  cursor: pointer;
}
#btnHesaplama {
  width: 362px;
  height: 48px;
  background-color: #3a80ff;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
#btnHesaplama:active {
  color: black;
  background-color: white;
}
#netkarSonuc {
  color: rgb(2, 167, 2);
}
#komisyonKesinti {
  color: red;
}
#alisFiyati {
  color: red;
}
#kargoTutari {
  color: red;
}
/* Responsive */
@media screen and (max-width: 607px) {
  #sonucBox {
    width: 360px;
    height: 300px;
    font-size: 0.65rem;
  }
  #container {
    width: 360px;
    text-align: left;
    margin: auto;
  }
  .box {
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
    margin-right: 15px;
    font-weight: 400;
    font-size: 12px;
  }
  .text {
    /* border: 1px solid red; */
    margin-left: 0px;
    text-align: start;
    width: 200px;
  }
  .sonuc {
    /* border: 1px solid blue; */
    text-align: right;
    margin-right: 0px;
  }
  #pazaryeri {
    width: 360px;
    height: 40px;
  }
  .dropdowndiv {
    width: 400px;
  }
  #kargocontainer input {
    width: 340px;
  }
  #kdvsel {
    width: 360px;
  }
  input {
    width: 340px;
    height: 35px;
  }
  #kategori {
    width: 360px;
    height: 40px;
  }
  #btnHesaplama {
    width: 360px;
    height: 40px;
  }
  label {
    font-size: 0.8rem;
  }
  #kargoVkdv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 180px;
    margin: auto;
    margin-bottom: 25px;
  }
  .buttons {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 360px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin: auto;
  }
  #btnTemizle {
    margin: auto;
    margin-left: 158px;
    font-size: 12px;
  }
  h1 {
    font-size: 21px;
    margin: auto;
    text-align: center;
  }
  p {
    font-size: 11px;
    text-align: center;
    margin: auto;
  }
}
